.purpleHorizon {
  background: rgba(225, 229, 235, 0.49);
  border-collapse: collapse;
  text-align: center;
  height: 150px;
  width: 70%;
  margin-left: 18%;
  margin-top: 2%;
  box-shadow: -4px 9px 13px rgba(7, 233, 26, 0.3);
}

.purpleHorizon td , table.purpleHorizon th {
  border: 1px solid #555555;
  padding: 5px 2px;
}

.purpleHorizon tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: rgba(10, 82, 25, 0.49);
}

.purpleHorizon thead th {
  color: #050000;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.purpleHorizon tfoot {
  color: #080000;
  background: linear-gradient(to bottom, #d3ffd9 0%, #caffd2 66%, #C4FFCD 100%);
  background: rgba(225, 229, 235, 0.49);
  background: -moz-linear-gradient(top, #d3ffd9 0%, #caffd2 66%, #C4FFCD 100%);
  background: -webkit-linear-gradient(top, #d3ffd9 0%, #caffd2 66%, #C4FFCD 100%);
  font-size: 13px;
  font-weight: bold;
}

.purpleHorizon tfoot td {
  font-size: 13px;
}

.purpleHorizon tfoot .links {
  text-align: right;
}

.title {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 4%;
  color: darkgreen;
}


